* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'OS';
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 70px 0;
    height: 770px;
    background: url(../Images/bg.jpg) no-repeat center / cover;
}

.header__content-title {
    font-size: 60px;
    line-height: 70px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: 6px;
    color: #FFFFFF;
}

.header__content-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.header__content-p {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 3.7px;
    color: #FFFFFF;
}

.header__nav {
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    padding: 25px 0;
}

.header__nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    flex-wrap: wrap;
}

.header__nav-link {
    color: #48555B;
    letter-spacing: 1.09091px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    transition: 450ms;
}

.header__nav-link:hover {
    color: #00A4E5;
}

.main__content-htext {
    color: #48555B;
    letter-spacing: 0.1875px;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

.spec {
    color: #16ACE8;
}

.main__content-jtext {
    letter-spacing: 0.1875px;
    font-size: 13px;
    line-height: 23px;
    color: #48555B;
}

.main__title {
    display: flex;
    align-items: center;
    justify-items: center;
    letter-spacing: 2.30625px;
    flex-direction: column;
    color: #48555B;
    padding-bottom: 2px;
    margin: 55px 0;
}

.main__title::after {
    content: '';
    display: block;
    background-color: #00A4E5;
    height: 2px;
    width: 50px;
    margin-top: 10px;
}

.main__content-left {
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    flex-direction: column;
    max-width: 405px;
    width: 100%;
}

.main__content-right {
    display: flex;
    justify-content: flex-end;
    max-width: 50%;
    width: 100%;
    column-gap: 30px;
    flex-wrap: wrap;
}

.main__content-box {
    display: flex;
    justify-content: space-between;
}

.content__pos {
    letter-spacing: 0.1875px;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding: 18px 50px 0 18px;
}

.main__content-bees {
    display: flex;
    max-width: 140px;
    width: 100%;
    background: url(../Images/Bitmap.jpg) no-repeat center / cover;
    height: 225px;
    transition: 450ms;
}

.main__content-bees:hover {
    scale: 1.1;
    box-shadow: 5px 10px #888888;
}

.main__content-bees:nth-child(2) {
    background: url(../Images/Bitmap-2.jpg) no-repeat center / cover;
}

.main__content-bees:nth-child(3) {
    background: url(../Images/Bitmap-3.jpg) no-repeat center / cover;
}

.main__content {
    margin-bottom: 120px;
}

.main__categories-part1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main__categories-title {
    letter-spacing: 2.30625px;
    color: #48555B;
    font-size: 18px;
    line-height: 25px;
}

.main__categories-title::after {
    content: '';
    display: block;
    height: 2px;
    width: 50px;
    background: #00A4E5;
    margin-top: 10px;
}

.main__categories-laram {
    letter-spacing: 0.2px;
    color: #48555B;
    font-size: 11px;
    line-height: 19px;
    max-width: 400px;
}

.main__categories-link {
    background: #00A4E5;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    padding: 12px 30px;
    transition: 360ms;
    border-radius: 10px transparent;
    display: block;
}

.main__categories-link:hover {
    scale: 1.1;
    border-radius: 10px;
}

.main__categories {
    display: flex;
    flex-direction: column;
    margin: 0 0 115px 0;
    row-gap: 90px;
}

.main__categories-part2 {
    display: flex;
    align-items: center;
    column-gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.main__part2-box {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    max-width: 295px;
    width: 100%;
    height: 330px;
    padding: 22px;
}

.svg {
    height: 75px;
    width: 65px;
    margin-bottom: 10px;
}

.categories__part2-title {
    color: #48555B;
    letter-spacing: 0.426667px;
    font-size: 16px;
    line-height: 24px;
}

.categories__part2-text {
    letter-spacing: 0.1875px;
    color: #48555B;
    font-size: 13px;
    line-height: 23px;
}

.last-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 500px;
    width: 100%;
    background: url(../Images/bg-2.jpg) no-repeat center / cover;
}

.last-part__h2 {
    color: #48555B;
    letter-spacing: 0.15px;
    font-size: 30px;
    line-height: 36px;
}

.last-part__link {
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    background: #00A4E5;
    padding: 11px 26px;
    transition: 420ms;
}

.last-part__link:hover {
    scale: 1.1;
    background: rgba(55, 255, 225, 0.707);
    border-radius: 22px;
}

.sign-up {
    background: #171819;
}

.sign-up__line {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sign-up__form {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}

.sign-up__input {
    padding: 14px 100px 10px 17px;
    outline: none;
}

.sign-up__btn {
    padding: 11px 44px;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    background: #00A4E5;
}

.sign-up__span {
    margin: 35px 0;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
}

.footer {
    background: #141A20;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;
    flex-wrap: wrap;
}

.footer__list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.footer__link {
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    font-size: 11px;
    line-height: 15px;
}

.svg__list {
    display: flex;
    column-gap: 25px;
    flex-direction: row;
}

.icon {
    max-width: 15px;
    width: 100%;
    transition: 450ms;
}

.icon:hover {
    rotate: 35deg;
}

.author {
    background: #171819;
    text-align: center;
}

.proweb {
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    padding: 22px 0;
    font-size: 11px;
    line-height: 15px;
}

@media(max-width:1000px) {
    .main__content {
        justify-content: space-between;
    }
    .main__content-box {
        justify-content: center;
    }
    .main__content-right {
        gap: 22px;
        justify-content: flex-end;
    }
    .main__categories-part2 {
        gap: 22px;
    }
    .footer__container {
        gap: 22px;
        justify-content: center;
    }
}

@media(max-width:735px) {
    .main__categories-laram {
        display: none;
    }
    .sign-up__form {
        display: none;
    }
    .sign-up__span {
        font-size: 26px;
        line-height: 28px;
        margin: 10px;
    }
    .header__content-title {
        font-size: 33px;
        line-height: 35px;
    }
    .header__content {
        height: 100vh;
    }
    .last-part {
        height: 330px;
    }
    .main__title {
        font-size: 19px;
        line-height: 20px;
    }
    .last-part__h2 {
        font-size: 19px;
        line-height: 20px;
    }
    .content__pos {
        padding: 22px;
    }
}

@media(max-width:570px) {
    .header__content-title {
        font-size: 24px;
        line-height: 25px;
        margin-bottom: 22px;
    }
    .header__content-text {
        margin: 4px;
        font-size: 16px;
        line-height: 17px;
        color: #ffffff98;
    }
    .sign-up__span {
        font-size: 16px;
        line-height: 17px;
    }
    .footer__link {
        font-size: 11px;
        line-height: 10px;
        justify-content: center;
    }
    .main__categories-title {
        font-size: 16px;
        line-height: 17px;
    }
    .main__categories-link {
        font-size: 12px;
        line-height: 12px;
        padding: 6px 8px;
        text-align: center;
    }
    .header__nav-container {
        flex-direction: column;
    }
    .main__content-htext {
        font-size: 16px;
    }
    .main__content-jtext {
        font-size: 11px
    }
    .content__pos {
        font-size: 18px;
    }
    .main__content-bees {
        max-height: 150px;
        max-width: 100px;
        margin-right: 18px;
    }
    .last-part__h2 {
        font-size: 14px;
        line-height: 16px;
    }
    .last-part {
        max-height: 290px;
        height: 100%;
        padding-bottom: 20px;
    }
    .last-part__link {
        margin-bottom: 55px;
    }
    .header__nav {
        padding: 10px 0;
    }
}